.panel{
	position: absolute;  
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    border: 0;
}

.panel-body{
	overflow: auto;
	bottom: 10px;
	height: 96%;
	border: 0;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    position: absolute;  
    left: 0; 
    right: 0; 
    top: 42px; 
    bottom: 0; 
    overflow: hidden;
}

.toolbarmain{
	background-color: #428bca;
	border: 1px solid rgb(212,212,212);
    position: absolute;  
    left: 0; 
    right: 0; 
    top: 0;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/**/
.ngHeaderCell{
	background-color: #F1DF98;
}

.ngRow.odd{
	background-color: #E0F0FC;
}

.ngRow.even{
	background-color: white;
}

.ngRow.selected{
	background-color: #D9CAD7;
}

.modal-dialog{
	z-index:10000;
}